.container {
  padding: 0 2rem;
}

.main {
  min-height: 20vh;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.containerCode {
  width: 100%;
  overflow: auto;
  height: auto;
  border: 1px solid #eaeaea3d;
}
